.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
  --fill-opacity: 50%;
}

.Headercard{
  --background: url(src/assets/6783190-cool-white-wallpaper.jpg)!important;
    --background-repeat: no-repeat;
    --background-size:100% 100%;
}
ion-item{
  --background: rgb(165, 165, 165);
}
ion-icon{
  color: red;
}

