ion-card{
padding: auto;
margin-left: 15%
}
ion-infinite-scroll-content{
    --color:rgb(5, 0, 78);
}
.ProductHeader{
    --color: rgb(104, 143, 180);
    margin-left: 20%;
}
ion-searchbar{
    --background: rgb(227, 160, 229);
    --placeholder-color: rgb(5,0,78);
    --icon-color: rgb(5,0,78);
}
