<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
 </ion-header>
 
 <ion-content>
    <ion-card>
        <ion-item>Name:
          <ion-input placeholder=" Name"></ion-input>
        </ion-item>
        <ion-item>Email:
            <ion-input placeholder=" Email"></ion-input>
          </ion-item><ion-item>Password:
              <ion-input placeholder=" Password"></ion-input>
            </ion-item>
        <p>What is your gender?</p>
        <ion-button for="male"> Male </ion-button>
        <ion-button for="female"> Female </ion-button>
        <ion-button for="undeclared"> I'd rather not say </ion-button>
        <!-- <p>How do you like this page?</p>
        <select name="rating">
          <option value="Good"> :slightly_smiling_face: </option>
          <option value="Ok"> :neutral_face: </option>
          <option value="Bad"> :disappointed: </option>
        </select> -->
        <!-- <p>Add a comment about this page or any additional information you would like to include.</p>
        <ion-textarea name="comment" placeholder="Write Here" cols="50" rows="10"></ion-textarea> -->
        <p></p>
        <ion-button>Submit</ion-button>
      </ion-card>
 </ion-content>