<ion-header>
    <ion-toolbar translucent="true">
        <ion-icon name="close-circle-outline" routerLink="" routerDirection="root"></ion-icon>
      <ion-title slot="middle">Supported Crytocurrencies</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <p>Bitcoin</p>
 <ion-item>
  <ion-label position="floating">Enter Dollar Amount</ion-label>
  <ion-textarea></ion-textarea>
 </ion-item>
 <ion-button>Purchase</ion-button>
 <p>Ethereum</p>
 <ion-item>
  <ion-label position="floating">Enter Dollar Amount</ion-label>
  <ion-textarea></ion-textarea>
 </ion-item>
 <ion-button>Purchase</ion-button>
 <p>LiteCoin</p>
 <ion-item>
  <ion-label position="floating">Enter Dollar Amount</ion-label>
  <ion-textarea></ion-textarea>
 </ion-item>
 <ion-button>Purchase</ion-button>
</ion-content>

